html,

body {
    float: left;
    font: 18px Georgia;
    width: 700px;
    background: Wheat;
    text-align: center;
    margin: 0 20px;
 }

 /*empty tile backdrop*/
.blank {
    float: left;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    padding: 10px 10px;
    height: 120px;
    width: 150px;
    transform: scale(0.95,0.95);
    background: #4f191a;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: padding-box;
    cursor: pointer;
}
div.blank:hover {opacity: 0.7;}

 /*painting image*/
#card {
    display: none;
    transform: scale(0.9,0.9);
    margin: -10px 10px;
    padding: 0 0;
    cursor: pointer;
    z-index: 1
}

.end-game {
    display: none;
    position: absolute;
    top: 105px;
    left: 110px;
    border: 1px solid black;
    padding: 10px;
    height: 550px;
    width: 500px;
    background: url(Canvas_picture_frame.png);
    background-color: #008cba;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: padding-box;
    z-index: 2;
    animation-name: congrats;
    animation-duration: 2s;
}

@keyframes congrats {
    from {transform: scale(0.2,0.2);}
    to {transform: scale(1,1);}
}

 /*congrats text*/
.text {
  color: white;
  font-size: 40px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reset-button {
  position:relative;
  margin-left: 30px;
  width: 80px;
  bottom:5px;
  justify-content: center;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: FireBrick;
  border: none;
  border-radius: 20%;
  box-shadow: 2px 3px #999;
}

 /*play again*/
.button {
  position:relative;
  margin-top: 80px;
  width:200px;
  bottom:5px;
  justify-content: center;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 2px 3px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
